{% extends 'layout.html' %}
{% block body %}
<br />
<br />
<!-- Page Content -->
<div class="container">
    <div class="row">
        <div class="col-lg-3">
            <div class="list-group">
                <a href="/profile" class="list-group-item">Order List</a>
                <a href="/shoppingcart" class="list-group-item">Shopping Cart</a>
                <a href="/settings" class="list-group-item">Settings</a>
                <a href="/update_password" class="list-group-item active">Update Password</a>
            </div>
        </div>
        <!-- /.col-lg-3 -->
        <div class="col-lg-9">
            {% include 'includes/_flashmsg.html' %}
            <div class="card card-default my-4">
                <div class="card-header">
                    <i class="fa fa-bar-chart-o fa-fw"></i>Update password
                </div>
                <!-- /.panel-heading -->
                <div class="card-body">
                    {% if result %}
                        {% from "includes/_formhelpers.html" import render_field %}
                        <form method="POST" action="">
                            {{ form.csrf_token }}
                            <div class="form-group" style="display: flex; align-items: center;">
                                {{ render_field(form.password, class="form-control password-field1", style="flex-grow: 1;margin-left:5%; margin-right: 10px;") }}
                                <span class="fa fa-eye pass-status" style="cursor: pointer;"></span>
                            </div>
                            <div class="form-group" style="display: flex; align-items: center;">
                                {{ render_field(form.new_password, class="form-control password-field2", style="flex-grow: 1; margin-left: 5%; margin-right: 10px;") }}
                                <span class="fa fa-eye pass-status" style="cursor: pointer;"></span>
                            </div>
                            <p style="font-size: 15px;">Password Strength meter (recommend)</p>
                            <div class="password-strength-meter" style="height: 5px; background-color: #ddd; position: relative;" >
                                <div class="password-strength-meter-bar" style="height: 100%; width: 0%; background-color: red; transition: width 0.3s ease-in-out;"></div>
                                <div class="password-strength-tooltip" style="display: none; position: absolute; bottom: 110%; left: 50%; transform: translateX(-50%); padding: 5px; border: 1px solid #ddd; background-color: white; z-index: 100;">
                                    <ul style="list-style: none; padding: 0; margin: 0;">
                                        <li id="length12-criteria" style="color: red;">&#10006; Minimum 12 chars</li>
                                        <li id="uppercase-criteria" style="color: red;">&#10006; Include Capital Letters</li>
                                        <li id="number-criteria" style="color: red;">&#10006; Include Numbers</li>
                                        <li id="specialchar-criteria" style="color: red;">&#10006; Include Special Symbols (ex: .;/)</li>
                                    </ul>
                                </div>
                            </div>
                            <div class="form-group" style="display: flex; align-items: center;margin-top: 15px;">
                                {{ render_field(form.confirm_password, class="form-control password-field3", style="flex-grow: 1; margin-right: 10px;") }}
                                <span class="fa fa-eye pass-status" style="cursor: pointer;"></span>
                            </div>
                            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                            <p>
                                <input type="submit" class="btn btn-primary" value="Update Password">
                            </p>
                        </form>
                        
                    {% endif%}
                </div>
                <!-- /.panel-body -->
            </div>
        </div>
        <!-- /.col-lg-9 -->

    </div>
    <!-- /.row -->

</div>
<!-- /.container -->
<br />
<br />
<script src="{{ url_for('static', filename='../static/js/update_password.js') }}"></script>

{% endblock %}