{% extends 'layout.html' %}
{% block body %}
<!-- Page Content -->
<div class="container">
    <div class="row">
        <!-- /.col-lg-3 -->
        <div class="col-lg-12">
            {% include 'includes/_flashmsg.html' %}
            <h2 class="my-4">Searched for <b>{{ search_name | safe }}:</b></h2>
            <div class="row">
                {% for product in products %}
                <div class="col-lg-3 col-md-4 col-sm-6">
                    <div class="card mb-4">
                        <a href="/category?catID={{product.catID}}&view={{product.prodID}}">
                            <div class="card-img-top"
                                 style="background: url('static/products/{{product.prodID}}.png'); background-repeat:no-repeat; background-size: cover; height:200px;width:100% "></div>
                        </a>
                        <div class="card-body">
                            <h3><a class="card-title" id="" href="/category?{{product.catID}}&view={{product.prodID}}">{{ product.nome }}</a></h3>
                            <h4>{{product.price}}€</h4>
                            <span class="text-warning"></span>
                        </div>
                    </div>
                    <!-- /.card -->
                </div>
                {% endfor %}
            </div>
        </div>
        <!-- /.col-lg-9 -->
    </div>
    <!-- /.row -->
</div>
<!-- /.container -->
{% endblock %}